<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <httpRuntime/>
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <add name="hadb" connectionString="Data Source=34.252.49.216;Database=hadb5;User ID=sa;Password=********;MultipleActiveResultSets=True"/>
  </connectionStrings>
</configuration>